@font-face {
  font-family: 'SourceSansPro';
  src: url('/xeos-main/src/Fonts/SourceSansPro-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/xeos-main/src/Fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight:200;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/xeos-main/src/Fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight:100;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html{
  /* scroll-behavior: smooth; */
}

body{
  font-family: 'SourceSansPro', sans-serif;
  background: white;
  /* overflow: hidden; */
}

.wrapper{
  width:100%;
  height:auto;
}