* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: white;
}

body::-webkit-scrollbar, body::-webkit-scrollbar-track, body::-webkit-scrollbar-thumb{
  display: none;
}

.wrapper {
  width: 100%;
  height: auto;
}